<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            a, a:visited { color:#f2f2f2; }
            a:hover { color:white; }
            a[href^="x-apple-data-detectors:"] { color:{{emailButtonFontColor}}; }
        </style>
    </head>
    <body>
        <table width="600" border="0" align="center" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="left">{{header_logo}}</td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#000000" style="padding-top:10px; font-size:0; line-height:0;">
                    <a href='{{url}}' name='ContactNotify URL' target="_blank"><img src="https://tm-mrs.s3.amazonaws.com/header_images/{{emailHeaderImage}}" width="580" alt="Header" border="0" style="display:block; font-size:0; line-height:0;"></a></td>
                </tr>
                <tr>
                    <td bgcolor="#000000" style="padding:10px">
                    <table width="580" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="left" bgcolor="{{emailBackgroundColor}}" style="padding:30px 30px 1em 30px">
                                <div style="color:{{emailFontColor}}; font-size:14px; font-family:Arial, Helvetica, sans-serif; margin-top:1em; margin-left:2em; margin-right:2em;">
                                <p>Hi {{first_name}},</p>
                                {{emailBody1}}
                                <br>
                                
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="padding:15px; background:{{emailButtonColor}};color:{{emailButtonFontColor}};border-radius:5px; text-decoration:none; font-size:19px; font-family:Arial, Helvetica, sans-serif;">
                                            <a href='{{url}}' name='ContactNotify URL' target="_blank" style="padding:15px; background:{{emailButtonColor}};color:{{emailButtonFontColor}};border-radius:5px; text-decoration:none; font-size:19px; font-family:Arial, Helvetica, sans-serif;">{{emailButtonText}}</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:0; line-height:0;background:{{emailBackgroundColor}}"><img src="https://tm-mrs.s3.amazonaws.com/static/crowd-bg-{{emailStyle}}.png" alt="Crowd" style="display:block; font-size:0; line-height:0;"></td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="{{emailStyleColor}}" style="padding-bottom:30px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#000000" style="padding:20px;">
                    <div style="color:#999; font-size:12px; font-family:Arial, Helvetica, sans-serif;">
                    {{emailBody2}}
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
